node_modules/
.DS_Store
dist/
.next/
*.tsbuildinfo
.turbo/
out/
apps/www/public/r/
apps/www/public/fonts/
apps/www/public/raster.css
apps/www/public/starter/
packages/react/.build-components/

# Local
.env
.env.*
!.env.example
*.log
coverage/
